.dotted-border {
  position: relative;
  animation: spin 6s linear infinite;
}

.dotted-border::before {
  content: "";
  position: absolute;
  inset: -4px;
  background-image: repeating-linear-gradient(
      to right,
      red 0px,
      red 2px,
      white 2px,
      red 4px,
      transparent 6px
    ),
    repeating-linear-gradient(
      to bottom,
      red 0px,
      red 2px,
      white 2px,
      red 4px,
      transparent 6px
    );
  background-size: 100% 100%;
  animation: moveDots 3s linear infinite;
  z-index: -1;
}

@keyframes moveDots {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Princing Animation  */
@keyframes rotate-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate-slow {
  animation: rotate-slow 15s linear infinite;
}

.swiper-pagination-bullet {
  background-color: #df442d;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #df442d;
  opacity: 1;
}

/* animation for delete row */
.row-deleting {
  animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

